.upload-new .ant-upload-list-item-container {
    width: 300px !important;
    height: 200px !important;
}

.ant-tree-switcher {
    padding-top: 5px !important;
}

.ant-statistic-content {
    display: flex;
    align-items: center;
}

.ant-drawer-header {
    padding: 0 !important;
    border-bottom: none !important;
}

.ant-drawer-body {
    padding: 0 !important;
}
