body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark-color: rgba(11, 10, 24, 255);
    --primary-green-color: rgba(0, 123, 56, 255);
    --primary-red-color: rgba(174, 3, 38, 255);
    --primary-blue-color: #1677ff;
    --border-gray: #d9d9d9;
    --sideBar-background-color: #283342;
    --sideBar-text-color: #ffffff;
    --sideBar-item-active-color: #008f99;
    --sideBar-logo-background-color: #1d242e;
    --content-background-color: #f2f3f5;
    --content-table-background-color: #ffffff;
    --breadcrumb-color: #042659;
}
