.modal-create-product .ant-modal-header > .ant-modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--breadcrumb-color);
}

.modal-create-product .ant-modal-header {
    background-color: #f2f3f5;
    margin-bottom: 1.125rem;
}
.modal-create-product .ant-modal-content {
    background-color: #f2f3f5;
}

.ant-spin-fullscreen {
    z-index: 2000 !important;
}

.ql-toolbar {
    border: none !important;
    border-bottom: 1px solid var(--border-gray) !important;
    height: 7rem !important;
}

/* Từ md (768px) trở lên */
@media (min-width: 576px) {
    .ql-toolbar {
        height: 5rem !important;
    }
}
@media (min-width: 768px) {
    .ql-toolbar {
        height: 4rem !important;
    }
}

@media (min-width: 1200px) {
    .ql-toolbar {
        height: 2.5rem !important;
    }
}

.ql-fullscreen:focus > svg,
.ql-fullscreen:hover > svg {
    color: var(--primary-blue-color) !important;
}

.ql-editor {
    height: 18.75rem;
    overflow: scroll;
    padding-bottom: 16px;
}

.ql-container {
    height: calc(100% - 2.5rem);
    border: none !important;
}

.editor-container:has(.ql-editor:focus):not(:has(.ql-fullscreenActive)) {
    border: 1px solid var(--primary-blue-color) !important;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
}

.editor-container:has(.ql-editor:focus):not(:has(.ql-fullscreenActive))
    .ql-toolbar {
    border: none !important;
    border-bottom: 1px solid var(--primary-blue-color) !important;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
}

.editor-container:has(.ql-fullscreenActive) .ql-container {
    height: 100% !important;
    overflow: visible !important;
}
.editor-container:has(.ql-fullscreenActive) {
    display: flex !important;
    flex-direction: column !important;
    width: 100vw !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 12000 !important;
    background-color: #f2f3f5 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.editor-container:has(.ql-fullscreenActive) .ql-editor {
    /* height: calc(100vh - 2.5rem) !important; */
    overflow-y: auto !important;
    padding-bottom: 16px !important;
    z-index: 9999 !important;
}
.editor-container:has(.ql-fullscreenActive) .ql-toolbar {
    flex: 0 0 2.5rem !important;
    z-index: 10000 !important;
    border: none !important;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3) !important;
}
.ant-select-multiple .ant-select-selection-overflow {
    min-height: 40px !important;
    display: flex !important;
    justify-content: start !important;
    align-content: center !important;
}

.ant-upload-list.ant-upload-list-picture-card {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
}

.ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container {
    flex: 0 0 auto !important;
}
